<div class="container__big-card">

	<div class="big-card__photo">

	<img src="https://www.morecap.com.br/assets/images/SM-placeholder.png" alt="" srcset=""
	height="200px"
	>

	</div>

	<div class="big-card__title">

		<h1> <a href="#"> Espaço para o titulo da notícia </a> </h1>

	</div>

	<div class="big-card__description">

		<p> <a href="#"> Descrição da noticia. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a rutrum quam. Praesent dapibus, urna vitae eleifend iaculis, libero dui luctus neque, faucibus bibendum nunc lectus non enim. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi hendrerit purus nisl. Donec risus ante, luctus sed turpis eu, bibendum pellentesque sem. Donec eros felis, pulvinar ac commodo id, auctor eu diam. Integer eleifend ac nibh vel viverra. Quisque aliquam pulvinar consequat. Mauris euismod libero quis purus posuere sollicitudin. </a> </p>

	</div>

</div>
