/* Container do Big Card */
.big-card-container {
	text-align: center;
	padding: 1rem;
  }

  /* Título do Big Card */
  .title {
	margin-bottom: 1rem;
	font-size: 2rem;
	font-family: 'Arvo', sans-serif;
  }

  /* Container da Imagem */
  .image-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  /* Imagem do Big Card */
  .big-card-image {
	width: 90%;
	height: 44rem;
	cursor: pointer;
  }
  
  /* Setas de Navegação */
  .arrow {
	background: none;
	border: none;
	font-size: 3rem;
	color: #fff;
	cursor: pointer;
	position: absolute;
  }
  
  .left {
	left: 5%;
  }
  
  .right {
	right: 5%;
  }
  
  /* Indicadores */
  .indicators {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	gap: 1rem;
  }
  
  /* Indicador Individual */
  .indicators span {
	width: 20px;
	height: 20px;
	background-color: #fff;
	border: 2px solid #0c56c4;
	border-radius: 50%;
	display: inline-block;
  }
  
  /* Indicador Ativo */
  .indicators .active {
	background-color: #dd0606;
  }
  
	