<div class="container__small-card">

	<div class="container__small-card-content">

		<div class="small-card__photo">

			<img src="https://images.unsplash.com/photo-1617931723605-dd4a47a618d2?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" srcset=""
			height="200px"
			>

			</div>

			<div class="small-card__title">

				<h1> <a href="#"> Espaço para o titulo da notícia </a> </h1>

			</div>

	</div>

	<div class="container__small-card-separator">
		<hr>
		</div>

		<!-- <div class="small-card__description">

			<p> <a href="#"> Descrição da noticia. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a rutrum quam. Praesent dapibus, urna vitae eleifend iaculis, libero dui luctus neque, faucibus bibendum nunc lectus non enim. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi hendrerit purus nisl. </a> </p>

		</div> -->

</div>



