	.content-container {
		max-width: 800px;
		margin: 0 auto;
		padding: 1rem;
		text-align: center;
	  }
	  
	  .content-image {
		width: 100%;
		height: auto;
	  }
	  
	  h1 {
		margin-top: 1rem;
		font-size: 2rem;
	  }
	  
	  p {
		margin: 0.5rem 0;
	  }
	  
	  .ratings {
		display: flex;
		align-items: center;
		justify-content: center;
	  }
	  
	  .stars {
		font-size: 1.5rem;
		color: gold;
		margin-right: 0.5rem;
	  }
	  