   <div *ngIf="article" class="content-container">
	<img [src]="'https://image.tmdb.org/t/p/w500' + article.poster_path" alt="{{ article.title }}" class="content-image">
	<h1>{{ article.title }}</h1>
	<p>{{ article.release_date ? article.release_date : 'Ano de lançamento indisponível' }}</p>
	<p><strong>Sinopse:</strong> {{ article.overview }}</p>
	<div class="ratings">
	  <span class="stars" *ngIf="article.vote_average !== undefined">
		{{ '★'.repeat(article.vote_average ? roundVoteAverage(article.vote_average) : 0) }}
		{{ '☆'.repeat(article.vote_average ? 5 - roundVoteAverage(article.vote_average) : 5) }}
	  </span>
	  <span>{{ article.reviewCount || 0 }} avaliações</span>
	</div>
	<p *ngIf="article.cast && article.cast.length"><strong>Elenco:</strong> {{ article.cast.join(', ') }}</p>
	<p *ngIf="article.directors && article.directors.length"><strong>Diretores:</strong> {{ article.directors.join(', ') }}</p>
	<p *ngIf="article.writers && article.writers.length"><strong>Roteiristas:</strong> {{ article.writers.join(', ') }}</p>
	<div *ngIf="article.seasons !== undefined && article.episodes !== undefined">
	  <p><strong>Temporadas:</strong> {{ article.seasons || 'Informação indisponível' }}</p>
	  <p><strong>Episódios:</strong> {{ article.episodes || 'Informação indisponível' }}</p>
	</div>
  </div>
  
