	.container__content{
		width: 100%;
		height: 100%;
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.container__menu-voltar > a{
		display: flex;
		justify-content: left;
		margin-left: 2rem;
		color: yellow;
			}


	/* .content__cover{
		border: 1px solid red;
	} */

	.content__cover > img{
		/* border: 5px solid rgb(27, 17, 175); */
		border-radius: .5rem;
		width: 50rem;
		min-width: 500px;
		height: 30rem;
	}

	.content__description {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
		}


	.content__description > p{
		color: rgb(186, 194, 191);;
	}
