<div class="container__articles">
  <div class="articles__main">
    <app-big-card 
      *ngIf="mainData.length > 0"
      [items]="mainData">
    </app-big-card>
  </div>

  <div class="articles__others">
    <div *ngFor="let genre of genres">
      <app-small-card 
        [genre]="genre.name" 
        [data]="dataByGenre[genre.name]">
      </app-small-card>
    </div>
  </div>
</div>




<!-- <div class="container__articles">
  <div class="articles__main">
    <app-big-card 
      *ngIf="mainData"
      [title]="mainData.cardTitle" 
      [photoCover]="mainData.photoCover" 
      [id]="mainData.id">
    </app-big-card>
  </div>

  <div class="articles__others">
    <div *ngFor="let genre of genres">
      <app-small-card 
        [genre]="genre.name" 
        [articles]="dataByGenre[genre.name]">
      </app-small-card>
    </div>
  </div>
</div> -->


