<div *ngIf="data && data.length > 0" class="production-container">
  <div *ngFor="let item of paginatedArticles" class="production-item">
    <img [src]="item.photoCover" alt="{{ item.cardTitle }}" class="production-image">
    <div class="production-details">
      <h2><a [routerLink]="['/content', item.id]">{{ item.cardTitle }}</a></h2>
      <p>Ano de Lançamento: {{ item.releaseYear }}</p>
      <p>Duração: {{ item.duration }}</p>
      <p>Classificação: {{ item.genre }}</p>
      <div *ngIf="item.seasons">
        <p>Temporadas: {{ item.seasons }}</p>
        <p>Episódios: {{ item.episodes }}</p>
      </div>
      <button (click)="toggleFavorite(item)" class="favorite-button">
        <i [class]="isFavorited(item) ? 'far fa-heart' : 'far fa-heart'"></i>
      </button>
    </div>
  </div>

  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
    <button (click)="nextPage()" [disabled]="(currentPage * itemsPerPage) >= data.length">Próximo</button>
  </div>
</div>
